.hero-artist {
  height: 300px;
  background-image: url("./assets/imgs/main/image-12.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.main-artist {
  padding-bottom: 100px;
}
.widthTD {
  width: 9%;
}

.info-artist {
  position: absolute;
  bottom: 0;
  padding: 20px;
  span,
  h1,
  p {
    color: #fff;
  }
  span {
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: clamp(20px, 4vw, 4rem);
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
.artist-container {
  h3 {
    border: 1px solid #fff;
    padding: 5px 13px;
    font-weight: 900;
    color: #fff;
    border-radius: 3px;
  }
}
.general-container {
  display: flex;
  padding: 20px;
  h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
  }
  .textAndImg {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-block: 20px;
    .imgAndIcon {
      position: relative;
      img {
        border-radius: 50%;
      }
      ion-icon {
        position: absolute;
        bottom: 0;
        right: 3px;
        font-size: 13px;
        background-color: #2abd5e;
        border-radius: 50%;
        color: #fff;
      }
    }
    h4 {
      color: #fff;
      margin-bottom: 5px;
    }
  }
  .popolari {
    margin-right: 130px;
  }
  table {
    margin-block: 20px;
    width: 113%;
    tr {
      display: flex;
      align-items: center;
      margin-block: 10px;
      font-size: 15px;
    }
    .number {
      font-size: 14px;
      padding-left: 25px;
    }
    .artist-img {
      padding-inline: 10px;
    }
    .song {
      width: 50%;
    }
    .riproduzioni {
      padding-inline: 80px;
    }
    .durata {
      text-align: end;
    }
  }
}
#altro {
  padding-left: 2rem;
  font-size: 10px;
  color: #ffffffab;
  font-weight: bold;
  cursor: pointer;
}
