.other-likes-section {
  color: #fff;

  .section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 25px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    background-color: #282828;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 18%;
    cursor: pointer;
    gap: 15px;

    .card-cover {
      width: 100%;
      height: auto;
      border-radius: 5px;
      margin-bottom: calc(15px / 2);
    }

    .card-title {
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      margin: 0;
      text-align: left;
    }
  }
}
.card:nth-child(1),
.card:nth-child(2),
.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5) {
  font-size: 1rem;
}
.cardFooter{
  display: none;
}

@media screen and (max-width: 576px) {
  .card-container{
    row-gap: 20px;
    .card {
      width: 100%;

      .card-title{
        font-size: 24px;
      }

      .cardHeader{
        display: flex;
        flex-direction: row;
        column-gap: 15px;
      }
      .cardDescription{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 8px;
        p{
          font-size: 16px;
        }
      }

      .icon-wrap{
        margin-bottom: 0;
      }
      .card-cover{
        width: 50%;
        box-shadow: 0px 0px 9px #ffffff2b;
      }

      .cardFooter{
        display: block;
        .icon-wrap{
          ion-icon{
            font-size: 32px;
          }
          p{
            display: flex;
            align-items: center;
            column-gap: 16px;
            font-size: 16px;
          }
          .heartGreen{
            color: #1CD760 ;
          }
          span{
            background-color: #1C1C1C;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            ion-icon{
              font-size: 24px;
            }
          }
        }
      }
    }
  }


  }