.section {
  margin-top: 15px;
  color: #fff;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.playlist {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.playlist-card {
  background-color: #282828;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1 1 calc(33.333% - 20px);
}

.playlist-cover {
  height: 100%;
  width: 20%;
  object-fit: cover;
  display: block;
  border-radius: 3px;
}

.playlist-name {
  color: #fff;
  font-size: clamp(11px, 1vw, 1.1rem);
  font-weight: bold;
  margin: 0;
  margin-inline: 14px;
  line-height: 1.2em;
}
